<h1>Make your Pirate here!</h1>
<form action="/pirates" method="POST">
  <h2>Pirate</h2>
  <label for="pirate_name">Name:</label>
  <input type="text" id="pirate_name" name="pirate[name]">
  <br>
  <label for="pirate_weight">Weight:</label>
  <input type="text" id="pirate_weight" name="pirate[weight]">
  <br>
  <label for="pirate_height">Height:</label>
  <input type="text" id="pirate_height" name="pirate[height]">
  <br>
  <h2>Ship 1</h2>
  <label for="ship1_name">Name:</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <br>
  <label for="ship1_type">Type:</label>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <br>
  <label for="ship1_booty">Booty:</label>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  <br>
  <h2>Ship 2</h2>
  <label for="ship2_name">Name:</label>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <br>
  <label for="ship2_type">Type:</label>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <br>
  <label for="ship2_booty">Booty:</label>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <br><br>
  <input type="submit" value="Submit">
</form>
